.card_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}
.card_register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}
.text-label {
    color: white;
}
.card-body{
    text-align:center;
}